/**
 * Document Component - NT.GOV.AU Theme Overrides
 */

/* Import common design tokens required by this component */
@import "@ntgovernment/web-design-tokens/css/common";

.document {
  --document-radius: var(--ntg-radii-sm);
  --document-icon-radius: var(--ntg-radii-sm);
  --document-focus-shadow: var(--shadow-focus-ntg);
}
