/**
 * TopicListing Component - NTG Central Theme Overrides
 */

@import "@ntgovernment/web-design-tokens/css/common";

.topic-listing {
  --topic-listing-focus-shadow: var(--shadow-focus-central);
  --topic-listing-focus-radius: var(--central-radii-sm);
  --topic-listing-link-rgb: var(--central-clr-link-default-rgb);
  --topic-listing-link-hover-rgb: var(--central-clr-link-hover-rgb);
}
